BuzzLancer/Library/
BuzzLancer/Temp/
BuzzLancer/obj/
*.suo
BuzzLancer/Assembly-CSharp.csproj
BuzzLancer/Assembly-CSharp-vs.csproj
BuzzLancer/BuzzLancer-csharp.sln
BuzzLancer/BuzzLancer.sln


_ReSharper*

[Bb]in
[Rr]elease
[Dd]ebug

/Build

Thumbs.db
Desktop.ini

